{% extends 'index.html' %}
{% load static %}
{% block content %}
    <div class="container-r">
        <form class="form-horizontal" action="register" method="POST">
            {% csrf_token %}
            <h1>Register</h1>
            <div class="col-xs-6">
            First name: <input type="text" name="fname">
            <br>
            Last name: <input  type="text" name="lname">
            <br>
            Email: <input  type="text" name="email">
            <br>
            Password: <input  type="password" name="password">
            <br>
            PW Confirm: <input  type="password" name="pw_confirm">
            <br>
            <input type="submit" role ="button" value="Register">
            </div>
        </form>
    </div>
    <div class="container-l">
        <form class="form-horizontal" action="login" method="POST">
            {% csrf_token %}
            <h1>Login</h1>
            <div class="col-xs-6">
            Email: <input type="text" name="email">
            <br>
            Password: <input type="password" name="password">
            <br>
            <input type="submit" role="button" value="Log In">
            </div>
        </form>
    </div>
{% endblock content %}