    {% extends 'index.html' %}
    {% load static from staticfiles %}
    {% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <p class="display-4">Food Menu</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-2 food-box">
                <form action="" method="POST">
                    <a href=""><img src="" alt="Food Image"></a>
                    <h5>Lorem Ipsum</h5>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id totam nihil mollitia amet corporis quae, similique at, hic ullam temporibus consectetur possimus dolorem eveniet ab nam, perferendis nostrum suscipit voluptatum.</p>
                    <h5>$12.00</h5>
                    <br>
                    <span class="tags alert alert-success">Keto</span>
                    <span class="tags alert alert-primary">Gluten-free</span>
                    <br>
                    <br>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span>(10 Ratings)</span>
                    <br>
                    <button class="btn btn-primary">Add to Cart</button>
                </form>
            </div>
            <div class="col-lg-2 food-box">
                <form action="" method="POST">
                    <a href=""><img src="" alt="Food Image"></a>
                    <h5>Lorem Ipsum</h5>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id totam nihil mollitia amet corporis quae, similique at, hic ullam temporibus consectetur possimus dolorem eveniet ab nam, perferendis nostrum suscipit voluptatum.</p>
                    <h5>$12.00</h5>
                    <br>
                    <span class="tags alert alert-success">Keto</span>
                    <span class="tags alert alert-primary">Gluten-free</span>
                    <br>
                    <br>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span>(10 Ratings)</span>
                    <br>
                    <button class="btn btn-primary">Add to Cart</button>
                </form>
            </div>
        </div>
    </div>
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Free</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>10 users included</li>
              <li>2 GB of storage</li>
              <li>Email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Pro</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>20 users included</li>
              <li>10 GB of storage</li>
              <li>Priority email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Enterprise</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>30 users included</li>
              <li>15 GB of storage</li>
              <li>Phone and email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
          </div>
        </div>
      </div>
{% endblock content %}
